/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --clear-day: linear-gradient(to bottom, #3588be, #fdfeff);
  --clear-night: linear-gradient(to bottom, #010822, #6487bd);
  --cloudy: linear-gradient(to bottom, #203850, #4c84a9);
  --fog: linear-gradient(to bottom, #545454, #d0d0d0);
  --hail: black;
  --partly-cloudy-day: #4c84a9;
  --partly-cloudy-night: linear-gradient(to bottom, #353938, #272d2a);
  --rain-snow-showers-day: black;
  --rain-snow-showers-night: black;
  --rain-snow: black;
  --rain: black;
  --showers-day: black;
  --showers-night: black;
  --sleet: black;
  --snow-showers-day: black;
  --snow-showers-night: black;
  --snow: black;
  --thunder-rain: black;
  --thunder-showers-day: black;
  --thunder-showers-night: black;
  --thunder: black;
  --wind: black;
  --active-btn: white;
  --inactive-btn: gray;
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 3px black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6px;
  background: linear-gradient(to bottom, #3588be, #fdfeff);
}

input {
  width: 130px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 2px 8px;
  background-color: black;
}

form button {
  border-radius: 6px;
  padding: 3px 8px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: 2px solid black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

main > div:nth-child(1) {
  display: flex;
  gap: 3rem;
}

main > div:nth-child(1) > div:first-child {
  min-width: 160px;
  text-align: left;
}

#temp-container {
  display: flex;
  gap: 6px;
}

#temp-container button {
  font-size: 16px;
  padding: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#unit-container {
  display: none;
}

#unit-container button:first-child {
  border-right: 2px solid white;
  padding-right: 10px;
}

#unit-container button:hover {
  color: green;
}

#icon-container {
  min-height: 100px;
  min-width: 120px;
  display: none;
}

#windspeed-display {
  font-size: 14px;
}

.icon {
  width: 24px;
  height: 24px;
}

#wind-container {
  display: none;
  align-items: center;
  gap: 8px;
}

#extra-info-container > div > div > div {
  display: flex;
  gap: 6px;
  border-bottom: 1px solid white;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#extra-info-container > div > div > p {
  align-self: center;
}

#extra-info-container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#extra-info-container > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

#extra-info-container > div:first-child {
  border-right: 2px solid white;
  padding-right: 6px;
}

#extra-info-container {
  display: none;
  border: 2px solid white;
  border-radius: 8px;
  min-width: clamp(350px, 60%, 450px);
  gap: 6px;
  padding: 12px 6px;
  box-shadow: 0px 0px 1px black;
}

footer {
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background:
    var(--_g) 0 0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 .5s infinite;
}

@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}

#loader-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}